@charset "utf-8";
@import url("public.css");
/* CSS Document 
 * Design By zjie1017
 * Ver: thinksns 2.0
 */

a:visited{color: #3b5999;}
/*头部*/
.header { height:80px;_height:80px; text-align:left; margin:0 auto; background:#618d03 url(../images/hdbg_lv.gif) no-repeat right top; z-index:1;  position:relative }
.header .logo { position:absolute; top:0px; left:0px; background: url(../images/logo_lv.png) no-repeat 0px 0px; height:80px; width:200px; }
.header .logo a { height: 59px; width: 200px; display: block; text-decoration: none; }
.header .main_nav { position:absolute; bottom:0; left:220px; }
.header .main_nav a { height:32px; display:inline-block; font-size:16px; color:#FFF; text-align:center; line-height:32px;}
.header .main_nav a.on { background:#eee; color: #618D03; height: 38px; padding:0 15px;display: inline-block; font-size: 16px; text-align: center; line-height: 38px ;text-decoration: none}
.header .main_nav a:hover {color:#618D03;}
.header .nav_sub { text-align:right; color:#fff; position:absolute; right:20px; top:15px; white-space:nowrap; }
.header .pf_sub { text-align:right; color:#fff; position:absolute; right:20px; top:45px; white-space:nowrap; }
.header .pf_sub ul li{float:left;padding:0px 5px;}
.header .nav_sub a { color:#fff; }
div.jGrowl div.smoke{background:#618D03 }
div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {background-color: #618D03;}
.header_line { background-color:#eeeeee; height:9px; padding-left:200px }
.header_line span { background:#eeeeee url(../images/top_line.gif) repeat-x 0 0; height:9px; display:block; overflow:hidden; }
.skin a{padding-left:5px;}
/*左侧菜单*/
.LeftMenu { height: auto; margin-left:5px; text-align:left }
.MenuList ul, .MenuList li { list-style-type: none; float:left; width:100% }
.MenuList a { display: block; width: 100%; line-height: 32px; float:left ;}
.submenu { display: none; }
.submenu li a { text-indent: 40px; color:#444;}
.submenu li { color: #FFFFFF; background-image: url(../images/submenuA.gif);height: 34px; background-repeat: no-repeat; background-position: left bottom;}
.submenu li a:hover { color: #628E01; background:#fff;  }
.submenuA { color: #FFFFFF; background-image: url(../images/); background-repeat: no-repeat; background-position: left bottom; }
.submenuB { background:#fff; font-weight:700;color:#628E01 !important;}
.treemenu { color: #FFFFFF; background: url(../images/ArrOn1.png) no-repeat; text-indent: 25px; margin-bottom: 5px; }
a.actuator:link, a.actuator:visited, a.actuator:hover, a.actuator:active { color: #333; margin: 0px; padding: 0px;  font-weight:bold; }
#switchPoint { cursor: pointer; }
/*右侧内容*/
.so_main { text-align:left; margin:0 10px; }
.page_tit { font-size:14px; font-weight:bold; color:#1e325c; line-height:40px; }
/*TAB*/
.tit_tab { background:#D2DBEA; height:30px; padding:5px 5px 0; margin-bottom:10px; }
.tit_tab ul { }
.tit_tab li { float:left; }
.tit_tab li a { padding:0 13px; line-height:30px; display:block; font-size:14px; }
.tit_tab li a.on { background:#fff; color:#333 }
.tit_tab2 { margin-bottom:10px; }
.tit_tab2 a { }
.tit_tab2 a.on { font-weight:bold; color:#333 }
.ui-sortable { }
.ui-sortable li { float:left; padding:5px; }
/*表单样式*/
.form { padding-top:10px; border-top:2px solid #9cb8cc; }
.form h3 { line-height:30px; font-size:12px; color:#333; border-bottom:1px solid #9cb8cc; }
.form dl { }
.form dt { float:left; margin:0; padding:20px 0 0; text-align:right; width:170px; color:#333 }
.form dd { margin-left:170px; padding:18px 0 20px 10px; }
.form dd label { display:block; padding-bottom:3px; }
.form dd .radio { margin-bottom:5px; }
.form p { color:#7d7d7d; line-height:20px; margin:0; padding:0 }
.page_btm { padding:18px 0 18px 180px; border-top:1px solid #9cb8cc }
/*表单2样式*/
.form2 { padding-top:10px;}
.form2 h3 { line-height:30px; font-size:12px; color:#333; border-bottom:1px solid #9cb8cc; margin:10px 0 }
.form2 dl { }
.form2 dt { float:left; margin:0; padding:8px 0 0; text-align:right; width:170px; color:#333 }
.form2 dt span { color:#F00 }
.form2 dd { margin-left:175px; padding:8px 0 8px 5px; vertical-align:middle }
.form2 p { color:#7d7d7d; line-height:20px; margin:0; padding:0 }
.no_line { border:0 none; }
/*列表样式*/
.bg_on { background-color:#ECEFF4; }
.bg_hover { background-color:#F3F3F3; }
.Toolbar_inbox { background-color:#d2dbea; padding:5px; line-height:26px; border-bottom:1px solid #c8cfda }
.Toolbar_inbox .btn_a, .Toolbar_inbox .btn_a span { background:#fcfcfc url(../images/btn_a.gif) no-repeat; cursor:pointer; }
.Toolbar_inbox .btn_a { background-position:0 0; margin-right:5px; padding-left:8px; display:inline-block; line-height:26px; color: #333; text-decoration: none; }
.Toolbar_inbox .btn_a span { padding-right:8px; display:inline-block; background-color: #fcfcfc; background-position: right 0; }
.Toolbar_inbox .btn_a:hover { background-position: 0 -26px; }
.Toolbar_inbox .btn_a:hover span { background-position: right -26px; }
.page { }
.page span { margin-right:5px; }
.list { padding-top:1px }
.list table { }
.list table th { background-color:#f2f4f6; border-bottom:1px solid #c8daa3; height:21px; text-align:left; padding-left:5px; color:#7d7d7d; font-weight: normal; }
.list table th.line_l { background: #f2f4f6 url(../images/th_bg.gif) repeat-y 0 0 }
.list table td { padding:6px 0 6px 5px; border-bottom:1px solid #c8daa3; }
.list_btm { background-color:#F7F7F7; line-height:32px; border-bottom:1px solid #9DB8CB; clear:both; }
.sort { float:left; width:100% }
.sort li { clear: both; line-height:30px; _height:30px; }
.sort li.line { border-bottom:1px solid #e3e6eb; }
.sort li div { text-indent: 5px; line-height:30px; }
.sort li.tit { background-color:#f2f4f6; border-bottom:1px solid #c1c8d2; color:#7d7d7d; height:21px; }
.sort li.tit div { height:21px; line-height:21px; }
.sort .line_l { background: #f2f4f6 url(../images/th_bg.gif) repeat-y 0 0 }
.sort li .c1 { float:left; }
.sort li .c2 { float:right; width:60px; }
.sort li .c3 { float:right; width:150px; }
.ico_top img, .ico_btm img { background: url(../images/ico_top_btm.gif) no-repeat; height: 14px; width: 12px; }
.ico_top, .ico_btm { vertical-align:middle; }
.ico_top img { background-position:-12px 0; }
.ico_btm img { background-position:-24px 0; }
.ico_top:hover img { background-position:0 0; }
.ico_btm:hover img { background-position:-35px 0; }
/*提示信息*/
.html_clew_box { border:3px solid #7ad3ff; color:#1b9103; position:absolute; z-index:999999; background:#fff url(../images/html_clew_box.gif) repeat-x 0 0; padding:0 25px 0 68px; ; margin-top:1px; float:left; }
.clew_error { background-position:0 bottom; color:#f00 }
.html_clew_box_close { clear:both; display:none }
.html_clew_box_close a { background: url(../images/pop_ico_x.gif) no-repeat 0 0; width:8px; height:8px; overflow: hidden; text-indent: 10px; display: block; float: right; }
.html_clew_box_con { font-size:14px; padding:20px 0; white-space: nowrap; font-weight: bold; }
.ico_waiting { background:url(../images/icon_waiting.gif) no-repeat 0 0; height:32px; line-height:32px; display:inline-block; padding-left:40px; }
.boxy-content { text-align:left; padding:10px; }
#input_dismissed { margin:10px 0 10px 0; }
/*页面弹出层*/
.html_pop_box { -moz-border-radius:5px 5px 5px 5px; background:none repeat scroll 0 0 #333333; height:100%; margin:-8px; opacity:0.5; padding:8px; position:absolute; width:100%; z-index:-1; }
/*选择部门*/
.selection { background-color:#fbfbfb; border:1px solid #CCC }
.selection_left { float:left; width:195px; }
.selection_left li { padding:8px; color:#666; border-bottom:1px solid #CCC; background-color:#fff }
.selection_right { margin-left:195px; background-color:#fff; border-left:1px solid #CCCCCC; }
.selection .sort { }
/*翻页*/
.page { text-align: center }
.page a { PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; COLOR: #333; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; TEXT-DECORATION: none }
.page a:hover { PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN-RIGHT: 2px; PADDING-TOP: 2px }
.page a:active { PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN-RIGHT: 2px; PADDING-TOP: 2px }
.page span.current { PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; COLOR: #000; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #FFF }
.page span.disabled { PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; COLOR: #333; MARGIN-RIGHT: 2px; PADDING-TOP: 2px }
.page span.quantity { PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; COLOR: #333; MARGIN-RIGHT: 2px; PADDING-TOP: 2px }
.topic_tips { margin-top: 3px; position: relative; margin-bottom:8px; width:250px;}
.topic_arr { background: url("../images/topic_arr.gif") no-repeat scroll 0 0 transparent; height: 6px; left: 11px; position: absolute; top: -5px; width: 11px; }
.topic_info { background-color: #F9FAFA; border: 1px solid #C2D1D5; padding: 7px 10px 6px; }

.lineD .c_select{width:200px; padding:2px; color:#333333}
.lineD .lable{color:#333333}
.lineD{position:relative}
.lineD dd span{color:#7D7D7D; margin-left:10px}
.lineD .input{width:350px; color:#333333; padding:2px}
.a_del{position:absolute; top:0px; left:10px;background:url(../images/fzcg_xxx.gif) left center no-repeat; display:block; height:100%; width:13px; display:none}
.areabox{width:350px; height:50px; font-size:12px; color:#333333; padding:2px;}
.check_s{margin-left:5px;}
.lineD dd span.tip{color:#FF0000;}

.suggestion_wrap{position:absolute; overflow:hidden; height:auto}
.suggestion_box{display:block; top:0px; left:0px; z-index:100000; background:#FFFFFF; width:358px;}
#suggestion_con{padding:0px 6px; border:2px outset #CCCCCC; border-top:0 none}
#suggestion_con li{color:#009900; font-size:13px; height:20px; line-height:20px}
#suggestion_con li.lihover{background:#999999}
.datali{border-bottom:1px dotted #999999}

.page_tab{height:35px; border-bottom:2px solid #9cb8cc; padding-left:100px }
.page_tab span{float:left; color:#FFFFFF; padding:0px 20px; position:relative; z-index:100px; background:#9CB8CC; border:2px solid #9CB8CC; margin-left:2px; height:31px; line-height:35px; cursor:pointer}
.page_tab span.active{padding-bottom:4px; background:#FFFFFF; border-bottom:none; color:#000000; cursor:default}

.listdirimg{padding:5px; cursor:pointer}
.diron{background:url(../images/aaOn.png) center center no-repeat;}
.diroff{background:url(../images/aaOff.png) center center no-repeat;}
.listtree ul{padding-left:10px}
.listtree img{cursor:pointer}

.typeson{padding:5px;}
.typeon{background:url(../images/aaOn.png) center center no-repeat; cursor:pointer}
.typeoff{background:url(../images/aaOff.png) center center no-repeat; cursor:pointer}
.leve_2{background:#F6F6F6}
.leve_3{background:#F9F9F9}
.leve_1 .typeson{margin-left:0px}
.leve_2 .typeson{margin-left:10px}
.leve_3 .typeson{margin-left:20px}
.leve_4 .typeson{margin-left:30px}
.leve_5 .typeson{margin-left:40px}
.lineD dd span.hidespan,.lineD dd span.proinfo{color:#006600}

  /*认证图标*/
  .id { width: 35px; height:30px; margin: 0 2px; display: inline-block; background:url(/tpl/Home/default/res/images/icon_new.png) no-repeat 0px -15px transparent; }
  .id_0 { width: 35px; height:30px; margin: 0 2px; display: inline-block; background:url(/tpl/Home/default/res/images/icon_new.png) no-repeat 0px -46px transparent; }

  .phone { width: 17px; height:30px; margin: 0 2px; display: inline-block; background:url(/tpl/Home/default/res/images/icon_new.png) no-repeat 0px -82px transparent; }
  .phone_0 { width: 17px; height:30px; margin: 0 2px; display: inline-block; background:url(/tpl/Home/default/res/images/icon_new.png) no-repeat 0px -122px transparent; }

  .email { width: 23px; height:30px; margin: 0 2px; display: inline-block; background:url(/tpl/Home/default/res/images/icon_new.png) no-repeat 0px -155px transparent; }
  .email_0 { width: 23px; height:30px; margin: 0 2px; display: inline-block; background:url(/tpl/Home/default/res/images/icon_new.png) no-repeat 0px -183px transparent; }

  .vip { width: 27px; height:30px; margin: 0 2px; display: inline-block; background:url(/tpl/Home/default/res/images/icon_new.png) no-repeat 0px -214px transparent; }
  .vip_0 { width: 27px; height:30px; margin: 0 2px; display: inline-block; background:url(/tpl/Home/default/res/images/icon_new.png) no-repeat 0px -242px transparent; }

  .video { width: 27px; height:30px; margin: 0 2px; display: inline-block; background:url(/tpl/Home/default/res/images/icon_new.png) no-repeat -59px -14px transparent; }
  .video_0 { width: 27px; height:30px; margin: 0 2px; display: inline-block; background:url(/tpl/Home/default/res/images/icon_new.png) no-repeat -59px -44px transparent; }

  .place { width: 21px; height:30px; margin: 0 2px; display: inline-block; background:url(/tpl/Home/default/res/images/icon_new.png) no-repeat -59px -82px transparent; }
  .place_0 { width: 21px; height:30px; margin: 0 2px; display: inline-block; background:url(/tpl/Home/default/res/images/icon_new.png) no-repeat -59px -121px transparent; }

.kuaiJie{position: absolute;top:25px; right:20%; line-height:25px;font-weight:bold; font-size:14px;}
.suaxin{float:left;background:url(../images/new/27.png); margin-right:5px; text-align:center;  width:75px; height:25px;}