form #message{min-width:398px;max-width:600px;font-size:14px;line-height: 24px;padding:8px 10px;margin-bottom: 10px;border:1px dashed #f60;border-radius:3px;}
form .tip{color:#666;background: #FEF0D0;}
form .err{color:red;background: #FEF0D0;}
form .ok{color:#489C05;background: #FEF0D0;}
form .text{border:1px solid #eee;padding:5px 5px;border-radius:3px;}
form .submit{background: #FF3F00;padding:5px 30px;color:#fff;margin-right:10px;border-radius:3px;cursor:pointer;}
form .cancel{background: #DDD;padding:5px 15px;color:#333;border-radius:3px;cursor:pointer;}
form .actions{padding:20px 5px;text-align: center;margin-bottom:5px;}
form th{height:39px;padding-left:28px;}
form td{padding-left:10px;}